@import "./../../scss/_base.scss";

.box {
  min-height: uc(710);

}

.content {
  width: uc(680);
  margin: 0 auto;

  color: #000;
  font-size: 14px;
  line-height: 1.79;

  img {
    max-width: 100%;
    margin: 0 0 uc(20);
  }
  p {
    margin: 0 0 uc(20);
  }
}

[data-dpr="2"] .content {
  font-size: 28px;
}
[data-dpr="3"] .content {
  font-size: 42px;
}
