@import "./../../scss/_base.scss";

.box {
  min-height: uc(710);
}
.mural {
  width: uc(1100);
  margin: uc(56) auto;

  li {
    float: left;
    width: uc(335);
    margin: 0 0 uc(20);

    box-shadow: 0 2px 4px #ccc;

    &:nth-child(3n - 1) {
      margin: 0 0 uc(20) uc(47.5);
    }

    &:nth-child(3n) {
      float: right;
    }

  }
  img {
    width: 100%;
    height: 100%;
  }
  h2 {
    height: uc(60);
    padding: 0 uc(20);

    color: #666;
    text-align: center;
    font-size: 12px;
    line-height: uc(60);
  }
}
