@import "./../../scss/_base.scss";

.box {
  min-height: uc(710);
}
.mural {
  width: uc(1100);
  margin: uc(27) auto;
  @extend %clearfix;

  li {
    float: left;
    width: uc(335);
    height: uc(310);
    margin: 0 0 uc(20);

    box-shadow: 0 2px 4px #ccc;

    &:nth-child(3n - 1) {
      margin: 0 0 uc(20) uc(47.5);
    }

    &:nth-child(3n) {
      float: right;
    }

  }
  a {
    display: block;
    width: uc(335);
    height: uc(250);
    background-size: cover;
  }
  h2 {
    height: uc(60);
    padding: 0 uc(20);

    color: #666;
    text-align: center;
    font-size: 12px;
    line-height: uc(60);
  }
}
